numpy==1.24.2
pandas==1.5.3
streamlit==1.20.0
geopandas==0.12.2
matplotlib=3.7.1
folium=0.14.1
seaborn=0.12.2
ipywidgets=1.16.1
matplotlib=*
seaborn=*

git+https://github.com/edgi-govdata-archiving/ECHO_modules@packaging

